# 머신러닝 연습 Train, Test set

```{attention} 
**캐글 공개 데이터셋을 간단한 전처리 후 Train, test셋으로 구분하여 깃헙레포에 저장했습니다.**    
**데이터 확인은 url을 통해서 로드할 수 있습니다**
```

## Classification

### 01  회사 서비스 이탈 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/submission.csv  

Target : Exited (0,1)     
     
출처 : https://www.kaggle.com/shubh0799/churn-modelling    
```

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

### 02

## Regression