# 머신러닝 연습 Train, Test set

```{attention} 
**캐글 공개 데이터셋을 간단한 전처리 후 Train, test셋으로 구분하여 깃헙레포에 저장했습니다.**    
**데이터 확인은 url을 통해서 로드할 수 있습니다**    
**지속적으로 업데이트 예정입니다**     
```

In [33]:
##로드 예시

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

## Classification

### 01  회사 서비스 이탈 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/submission.csv  

**Target : Exited (0,1)**     
     
출처 : https://www.kaggle.com/shubh0799/churn-modelling    
```

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

### 02 유방암 발생여부 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/cancer/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/cancer/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/cancer/submission.csv  

**Target : diagnosis B(양성),M(악성)**     
     
출처 : https://archive.ics.uci.edu/ml/datasets/Breast%20Cancer%20Wisconsin%20%28Diagnostic%29   
```

In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/cancer/train.csv')
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,points_worst,symmetry_worst,dimension_worst
0,8812844,B,10.18,17.53,65.12,313.1,0.10610,0.08502,0.01768,0.01915,...,11.17,22.84,71.94,375.6,0.14060,0.1440,0.06572,0.05575,0.3055,0.08797
1,904689,B,12.96,18.29,84.18,525.2,0.07351,0.07899,0.04057,0.01883,...,14.13,24.61,96.31,621.9,0.09329,0.2318,0.16040,0.06608,0.3207,0.07247
2,924632,B,12.88,28.92,82.50,514.3,0.08123,0.05824,0.06195,0.02343,...,13.89,35.74,88.84,595.7,0.12270,0.1620,0.24390,0.06493,0.2372,0.07242
3,924084,B,12.77,29.43,81.35,507.9,0.08276,0.04234,0.01997,0.01499,...,13.87,36.00,88.10,594.7,0.12340,0.1064,0.08653,0.06498,0.2407,0.06484
4,9011495,B,12.21,18.02,78.31,458.4,0.09231,0.07175,0.04392,0.02027,...,14.29,24.04,93.85,624.6,0.13680,0.2170,0.24130,0.08829,0.3218,0.07470

### 03 2018년도 성인의 건강검진 데이터로부터 흡연여부 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/submission.csv  

**흡연상태 : 0 ,1**     
     
출처 : https://www.data.go.kr/data/15007122/fileData.do
```

In [7]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv')
df.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

### 04 자동차 보험 가입 여부 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv  

**Target : Response (0,1)**     
     
출처 : https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction
```

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

### 05 심장질환 여부 예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/submission.csv  

**target : 0 ,1**     
     
출처 : https://www.kaggle.com/ronitf/heart-disease-uci
```

In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/train.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0
1,51,0,2,120,295,0,0,157,0,0.6,2,0,2,1
2,51,1,3,125,213,0,0,125,1,1.4,2,1,2,1
3,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
4,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0

### 06 핸드폰 가격예측

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/submission.csv  

**target :price_range  0(저렴) ~ 3(매우비쌈)**     
     
출처 : https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv
```

In [25]:
import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1

### 07 비행탑승 경험 만족도

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/submission.csv  

**target : satisfaction  'neutral or dissatisfied' or 'satisfied'**     
     
출처 : https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv
```

In [14]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv')
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

### 08 수질 음용성 여부

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/submission.csv  

**target : Potablillity  : 0 ,1**     
     
출처 : https://www.kaggle.com/adityakadiwal/water-potability
```

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

## Regression

### 01 의료 비용예측 문제

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/submission.csv  

**target : charges**     
     
출처 : https://www.kaggle.com/mirichoi0218/insurance/code
```

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

### 02 킹카운티 주거지 가격 예측문제

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/submission.csv  

**target : price**     
     
출처 : https://www.kaggle.com/harlfoxem/housesalesprediction
```

In [26]:
import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,3,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,3,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,3,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,3,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,3,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

### 03 대학원 입학 가능성 예측문제

```{admonition} 데이터정보
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/submission.csv  

**target : Chance of Admit**     
     
출처 : https://www.kaggle.com/mohansacharya/graduate-admissions
```

In [29]:
import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

### 04 레드 와인 퀄리티 예측문제

```{admonition} 데이터정보 (분류문제로 볼수도 있음)
**DataUrl [train,test,submisson]**     
https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/test.csv
https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/submission.csv  

**target : quality**     
     
출처 : https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
```

In [30]:
import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5