# 올림픽에는 어떤데이터가 ?

## 분석 방향
1. 여성
2. 나이
3. 국적
4. 동계, 하계
5. 동명이인
6. 대한민국데이터
7. 종목별 금메달 나이 평균
8. 결측치의 분포 / 어느종목에서 가장많은지? // 결측치 없는 데이터만 가지고 통계분석  -> 시간대에 따른 나이, 몸무게, 키에 대한 정보
9. 1904년도의 여자 나이대의 특수성 anova
10. 참여 국가수
11. 남녀의 국가별 시간에 따른 비율변화 (추세선그리기)
12. 남녀의 시간별 키, 몸무게 변화그래프
13. 일본과의 비교 , 북한과 비교

## 1. 데이터 전처리

In [1]:
import pandas as pd

In [6]:
nr = pd.read_csv("noc_regions.csv")
ae = pd.read_csv("athlete_events.csv")

## 2.데이터 EDA

```{admonition} Q1
noc_regions.csv 데이터에서 region이 같지만 NOC 혹은 notes값이 다른 데이터들만 추출하여 duplicates_nation 변수에 저장한 후  region의 알파벳 순으로 정렬  상위 10개의 데이터를 출력하라.
```

In [33]:
duplicates_nation.head(10)

   NOC          region         notes
0  ANZ       Australia   Australasia
1  AUS       Australia           NaN
2  CAN          Canada           NaN
3  NFL          Canada  Newfoundland
4  CHN           China           NaN
5  HKG           China     Hong Kong
6  CZE  Czech Republic           NaN
7  TCH  Czech Republic           NaN
8  BOH  Czech Republic       Bohemia
9  FRG         Germany           NaN

```{admonition} Q2
athlete_events.csv를 이용하여 duplicates_nation에 존재하는 NOC마다 몇 개의 데이터가 있는지 확인하라. 결과는 'duplicate_counts' 컬럼으로 만들고 상위10개데이터를 출력하라.
```

In [27]:
duplicates_nation.head(10)

   NOC          region         notes  duplicate_counts
0  ANZ       Australia   Australasia                86
1  AUS       Australia           NaN              7638
2  CAN          Canada           NaN              9733
3  NFL          Canada  Newfoundland                 1
4  CHN           China           NaN              5141
5  HKG           China     Hong Kong               685
6  CZE  Czech Republic           NaN              1874
7  TCH  Czech Republic           NaN              4404
8  BOH  Czech Republic       Bohemia               153
9  FRG         Germany           NaN              3315

```{admonition} Q3
athlete_events 데이터 
```

## 3.통계분석

## 4.장바구니분석

## 5.시계열 분석

## 6.예측 모델링