# 네이버 영화 데이터 평점순 (21-05-03 기준)

In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20210503'

```{admonition} Question 1
**네이버 영화 평점 순위의 랭킹사이트의 데이터를 requests를 이용하여 가져오고 parsing 하여 soup 변수에 저장하라**
```

In [5]:
soup.head()[:5]

[<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>,
 <meta content="IE=edge" http-equiv="X-UA-Compatible"/>,
 <meta content="http://imgmovie.naver.com/today/naverme/naverme_profile.jpg" property="me2:image"/>,
 <meta content="네이버영화 " property="me2:post_tag"/>,
 <meta content="네이버영화" property="me2:category1"/>]

In [6]:
# print(soup.prettify()) -> 구조 골격 지켜가며 출력

```{admonition} Question 2
**메타정보에 관한 모든 파싱값을 meta 변수에 저장하라**
```

In [8]:
meta

[<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>,
 <meta content="IE=edge" http-equiv="X-UA-Compatible"/>,
 <meta content="http://imgmovie.naver.com/today/naverme/naverme_profile.jpg" property="me2:image"/>,
 <meta content="네이버영화 " property="me2:post_tag"/>,
 <meta content="네이버영화" property="me2:category1"/>,
 <meta content="" property="me2:category2"/>,
 <meta content="랭킹 : 네이버 영화" property="og:title"/>,
 <meta content="영화, 영화인, 예매, 박스오피스 랭킹 정보 제공" property="og:description"/>,
 <meta content="article" property="og:type"/>,
 <meta content="https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&amp;date=20210503" property="og:url"/>,
 <meta content="http://static.naver.net/m/movie/icons/OG_270_270.png" property="og:image"/>,
 <meta content="http://imgmovie.naver.com/today/naverme/naverme_profile.jpg" property="og:article:thumbnailUrl"/>,
 <meta content="네이버 영화" property="og:article:author"/>,
 <meta content="https://movie.naver.com/" property="og:article:author:url"/>]

```{admonition} Question 3
**랭킹테이블의 모든파싱데이터를 가져와서 lstRanking 변수에 저장하라 ( <table cellspacing="0" class="list_ranking"> )**
```

In [10]:
lstRanking.find(class_='blind')

```{admonition} Question 4
**lstRanking에서 모든 영화의 순위, 이름, 평점을 가져와서 데이터프레임을 만들고 movieTable 변수에 저장하라**
```

In [15]:
movieTable.head(5)

   rank       title point
0     1          레옹  9.37
1     2  다시 태어나도 우리  9.35
2     3       피아니스트  9.33
3     4    미안해요, 리키  9.32
4     5    부활: 그 증거  9.31